@model Soporte.Models.AtmsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AtmsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GestoresModelId" class="control-label"></label>
                <select asp-for="GestoresModelId" class="form-control" asp-items="ViewBag.GestoresModelId"></select>
                <span asp-validation-for="GestoresModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MantenimientosModelId" class="control-label"></label>
                <select asp-for="MantenimientosModelId" class="form-control" asp-items="ViewBag.MantenimientosModelId"></select>
                <span asp-validation-for="MantenimientosModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgenciasModelId" class="control-label"></label>
                <select asp-for="AgenciasModelId" class="form-control" asp-items="ViewBag.AgenciasModelId"></select>
                <span asp-validation-for="AgenciasModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancosModelId" class="control-label"></label>
                <select asp-for="BancosModelId" class="form-control" asp-items="ViewBag.BancosModelId"></select>
                <span asp-validation-for="BancosModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
